body {
  margin: 20px;
}

body, button, input {
  /* Comic Sans is good, actually */
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", Helvetica, "Segoe UI", "Segoe WP", sans-serif, "Segoe MDL2 Assets", "Symbols";
  font-size: 18px;
}

h1 {
  text-align: center;
}
ul {
  list-style-type: none;
}

.content-container {
  margin: 0 auto;
  max-width: 500px;
}

.game-container {
  display: grid;
  grid-gap: 6px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(7, 1fr);
  margin: 40px 0;
  width: 500px;
  height: 500px;
  z-index: 1;
}

.info-container {
  width: 500px;
}

.game-container > * {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.game-container > *:before {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  content: '';
  display: block;
  border-radius: 6px; 
  z-index: -1;
  position: relative;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
}

h1 {
  font-size: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 > .twa:first-child {
  margin-right: 10px;
}

h1 > .twa:last-child {
  margin-left: 10px;
}

h2 {
  font-size: 40px;
  margin-top: 0px;
}

@media screen and (min-width: 1060px) {
  
  body {
    margin: 20px 40px;
  }
  
  .content-container {
    max-width: unset;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .game-container {
    margin: 0;
  }
  
  .info-container {
    margin-left: 40px; 
  }
}

.twa-snake.twa-egg {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f40d.svg"), url("https://twemoji.maxcdn.com/2/svg/1f95a.svg");
}

.message {
  max-width: 400px;
  color: black;
  position: absolute; 
  z-index: 1;
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.message.hidden {
  display: none;
}

.new-game-message > * {
  margin-bottom: 200px;  
}

.restart-game-message > *:last-child {
  margin-bottom: 0;
}

.game-container.paused:after {
  content: '';
  display: block;
  background-color: rgba(256, 256, 256, .5);
  width: 500px;
  height: 500px;
  position: absolute;
}