body,
button,
input {
  /* Comic Sans is good, actually */
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", Helvetica, "Segoe UI", "Segoe WP", sans-serif, "Segoe MDL2 Assets", "Symbols";
  font-size: 18px;
}

body {
  margin: 20px;
}

h1 {
  align-items: center;
  display: flex;
  font-size: 52px;
  justify-content: center;
  text-align: center;
}

h1 > .twa:first-child {
  margin-right: 10px;
}

h1 > .twa:last-child {
  margin-left: 10px;
}

h2 {
  font-size: 40px;
  margin-top: 0;
}

ul {
  list-style-type: none;
}

.content-container {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-container {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 500px;
  width: 500px;
  z-index: 1;
}


.game-container.paused::after {
  content: '';
  display: block;
  background-color: rgba(256, 256, 256, 0.5);
  width: 500px;
  height: 500px;
  position: absolute;
}

.game-container > * {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.game-container > *::before {
  background-color: #f3f3f3;
  border-radius: 6px;
  content: '';
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: -1;
}

.message {
  max-width: 400px;
  color: black;
  position: absolute;
  z-index: 1;
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.message.hidden {
  display: none;
}

.new-game-message > * {
  margin-bottom: 200px;
}

.restart-game-message > *:last-child {
  margin-bottom: 0;
}

.twa-snake.twa-egg {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f40d.svg"), url("https://twemoji.maxcdn.com/2/svg/1f95a.svg");
}

.twa-snake.twa-fire {
  background-image: url("https://twemoji.maxcdn.com/2/svg/1f40d.svg"), url("https://twemoji.maxcdn.com/2/svg/1f525.svg");
}
